<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon</title>
  </head>
  <style>
    body{
      background-color: rgb(44, 126, 189);
    }
  </style>
  <body>
    <h1>POKEMON!!!</h1>
    <nav>
      <a href="/pokedex/new">Add NEW pokemon</a>
    </nav>
    <ul>
      <% for(let i = 0; i < pokemon.length; i++) { %>
      <li>
        <a href="/pokedex/<%=i%>"> <%= pokemon[i].name %> </a>
        <img src="<%= pokemon[i].img %>" />

        <form action="/pokedex/<%=i %>?_method=DELETE" method="POST">
          <input type="submit" value="DELETE"/>
        </form>

        <a href="/pokedex/<%=i; %>/edit/">Edit</a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
