<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tab Title</title>
</head>
<body >
    <h1><%= pokemon.name %></h1>
    <% let code = 'jpg' %>
        <img src="<%=pokemon.img %>" alt="photo-here">
        <h2>Type: <%=pokemon.type %></h2>
        <h2>Stats</h2>
        <ul>
            <h3>
        
            <li">
                HP: <%= pokemon.stats.hp%></li>
                    
            <li>
                ATTK: <%= pokemon.stats.attack %></li>
                    
             <li>
                DEF: <%= pokemon.stats.defense %> </li>
               
              </h3> 
        </ul>
   
    <a href= '/pokedex'>Back to Pokedex</a>
</body>
</html>